Source: kalternatives
Section: admin
Priority: optional
Maintainer: Pino Toscano <pino@kde.org>
Build-Depends: debhelper (>= 7), cdbs (>= 0.4.51), pkg-kde-tools (>= 0.4.2),
 kdelibs5-dev (>= 4:4.2.2)
Standards-Version: 3.8.1

Package: kalternatives
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: man-db
Description: graphical alternatives system configuration tool
 Kalternatives offers a GUI to configure the alternative systems (a
 system that allows you to select one alternative file for many in the
 filesystem).
 .
 This is an advanced GUI of the update-alternatives program shipped with dpkg.
