[Desktop Entry]
Exec=kcmshell4 kalternatives
Icon=configure
Type=Service

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kalternatives
#X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-ParentApp=kcontrol
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=system

Name=Kalternatives
GenericName=Alternatives Configuration
GenericName[gl]=Configuración das alternativas
GenericName[nds]=Alternativen instellen
GenericName[pt]=Configuração de Alternativas
GenericName[pt_BR]=Configuração de Alternativas
GenericName[sv]=Alternativ inställning
GenericName[uk]=Налаштування варіантів
Comment=Debian/Fedora/Mandriva alternatives-system manager
Comment[gl]=Xestor do sistema de alternativas de Debian/Fedora/Mandriva
Comment[pt]=Gestor do sistema de alternativas do Debian/Fedora/Mandriva
Comment[pt_BR]=Gestor do sistema de alternativas do Debian/Fedora/Mandriva
Comment[uk]=Інструмент керування системою варіантів у Debian/Fedora/Mandriva
X-KDE-Keywords=Kalternatives,kalternatives,alternatives,alternative,debian,fedora,mandriva
Categories=Qt;KDE;X-KDE-settings-system;
