[Desktop Entry]
Exec=kcmshell4 kalternatives
Icon=configure
Type=Service

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kalternatives
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-ParentApp=kcontrol
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=system

Name=Alternatives Configuration
Name[bg]=Настройки на alternatives
Name[ca]=Configuració d'alternatives
Name[ca@valencia]=Configuració d'alternatives
Name[en_GB]=Alternatives Configuration
Name[es]=Configuración de alternativas
Name[et]=Alternatiivide seadistamine
Name[fi]=Alternatives-määritys
Name[fr]=Configuration des alternatives
Name[nds]=Alternativen instellen
Name[pa]=ਅਲਟਰਨੇਟਵਿਸ ਸੰਰਚਨਾ
Name[pt]=Configuração das Alternativas
Name[pt_BR]=Configuração das alternativas
Name[sv]=Alternativ inställning
Name[tr]=Alternatives Yapılandırması
Name[uk]=Налаштування варіантів
Name[x-test]=xxAlternatives Configurationxx
Comment=Distribution alternatives system manager
Comment[ca]=Gestor del sistema d'alternatives de la distribució
Comment[ca@valencia]=Gestor del sistema d'alternatives de la distribució
Comment[en_GB]=Distribution alternatives system manager
Comment[es]=Sistema de gestión de alternativas de la distribución
Comment[et]=Distributsioonide alternatiivide süsteemi haldur
Comment[fi]=Jakelun vaihtoehtojärjestelmän hallinta
Comment[fr]=Gestionnaire du système d'alternatives
Comment[nds]=Pleger för't Alternativen-Systeem vun de Distributschoon
Comment[pa]=ਡਿਸਟਰੀਬਿਊਸ਼ਨ ਅਲਟਨੇਟਵਿਸ ਸਿਸਟਮ ਮੈਨੇਜਰ
Comment[pt]=Gestor do sistema de alternativas das distribuições
Comment[pt_BR]=Gerenciador do sistema de alternativas
Comment[sv]=Alternativ systemhantering för distributioner
Comment[tr]=Dağıtım alternatives sistem yöneticisi
Comment[uk]=Інструмент керування системою варіантів
Comment[x-test]=xxDistribution alternatives system managerxx
X-KDE-Keywords=Kalternatives,kalternatives,alternatives,alternative,debian,fedora,mandriva
Categories=Qt;KDE;X-KDE-settings-system;
