[Desktop Entry]
Exec=kcmshell4 kalternatives
Icon=configure
Type=Service

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kalternatives
#X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-ParentApp=kcontrol
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=system

Name=Kalternatives
Name[de]=Alternativen
Name[pa]=ਕੇ-ਅਲਟਰਨੇਟਿਵ
Name[x-test]=xxKalternativesxx
GenericName=Alternatives Configuration
GenericName[el]=Ρύθμιση εναλλακτικών
GenericName[et]=Alternatiivide seadistamine
GenericName[fr]=Configuration des alternatives
GenericName[gl]=Configuración das alternativas
GenericName[km]=ការ​កំណត់​រចនា​សម្ព័ន្ធ​ឆ្លាស់
GenericName[nds]=Alternativen instellen
GenericName[nl]=Alternatieve configuratie
GenericName[pa]=ਬਦਲੀ ਸੰਰਚਨਾ
GenericName[pt]=Configuração de Alternativas
GenericName[pt_BR]=Configuração de Alternativas
GenericName[sv]=Alternativ inställning
GenericName[uk]=Налаштування варіантів
GenericName[x-test]=xxAlternatives Configurationxx
Comment=Debian/Fedora/Mandriva alternatives-system manager
Comment[el]=Διαχειριστής συστήματος εναλλακτικών Debian/Fedora/Mandriva
Comment[et]=Debiani/Fedora/Mandriva alternatiivide süsteemi haldur
Comment[fr]=Gestionnaire du système d'alternatives de Debian / Fedora / Mandriva
Comment[gl]=Xestor do sistema de alternativas de Debian/Fedora/Mandriva
Comment[km]=កម្មវិធី​គ្រប់គ្រង​ប្រព័ន្ធ​ជា​ជម្រើស​របស់​ដេបៀន/ហ្វេដូរ៉ា/ម៉ាន់ដ្រីវ៉ា
Comment[nds]=Pleger för't Alternativen-Systeem bi Debian, Fedora un Mandriva
Comment[pa]=ਡੇਬੀਅਨ/ਫੇਡੋਰਾ/ਮੈਨਡਰਿਵਾ ਬਦਲੇ ਸਿਸਟਮ ਮੈਨੇਜਰ
Comment[pt]=Gestor do sistema de alternativas do Debian/Fedora/Mandriva
Comment[pt_BR]=Gestor do sistema de alternativas do Debian/Fedora/Mandriva
Comment[sv]=Debian/Fedora/Mandriva alternativ systemhantering
Comment[uk]=Інструмент керування системою варіантів у Debian/Fedora/Mandriva
Comment[x-test]=xxDebian/Fedora/Mandriva alternatives-system managerxx
X-KDE-Keywords=Kalternatives,kalternatives,alternatives,alternative,debian,fedora,mandriva
Categories=Qt;KDE;X-KDE-settings-system;
